{% extends 'viloyat/viloyatkorinish.html' %}
{% block title %}
Gofurov Umidjon
{% endblock %}
{% load static %}
{% block content %}
<div style="height:15px;">
        
      </div>

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'image/um2.jpg' %}" alt="Generic placeholder image" width="140" height="140">
            
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'image/umidjon1.jpg' %}" alt="Generic placeholder image" width="140" height="140">
            
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'image/umidjon3.jpg' %}" alt="Generic placeholder image" width="140" height="140">
            
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="card text-center">
		  <div class="card-header">
		    Sayt yaratuvchisi haqida malumot!!!
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Hurmat bilan : Umidjon </h5>
		    <p class="card-text">Men G`ofurov Umidjon 2002-yilNamangan viloyati Yangiqo`rg`on tumanida tug`ilganman. Oilada 4kishi
        yashaymiz. Men ukam dadam va onam, opam esa turmushga chiqib ketgan. 2009-yil Namangan viloyati
        Yangiqo`rg`on tumanidagi 50-sonli umumiy o`rta ta`lim maktabiga borganman. Boshlang`ich ta`limdanoq
        matematikaga yaxshi qiziqganman va uni yaxshi bilganman. Fan olimpiyadalarida qatnashganman. Va yaxshi
        natijalarga erishganman. O`qishga topshirishga tayyorlanayotgan vaqtimizda karantin bo`lgani tufayli
        faqatgina matematikadan tayyorlanganman va shuning uchun yangi yo`nalishlardan biri Namangan viloyatidagi
        Namangan muhandislik-qurilish institutiga topshirganman va TEXNOLOGIK JARAYONLARNI BOSHQARISHNING
        AXBOROT-KOMMUNIKATSIYA TIZIMLARI yo`nalishiga budjetning beshinchi ya`ni oxirgi o`rnida o`qishga kirganman.
        Men hozirda 20 yoshdaman. Men hozirda O`zbekiston vodiy viloyatlaridan biri bo`lmish Namangan viloyatining
         Yangiqo`rg`on tumanida yashab kelmoqdaman.</p>
		    <a href="{% url 'home' %}" class="btn btn-primary">Ortga qaytish</a>
		  </div>
		</div>  


{% endblock %}