{% extends 'viloyat/viloyatkorinish.html' %}
{% block title %}
viloyatlar
{% endblock %}
{% load static %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    Viloyatlat Haqida Malumot Olish uchun hush kelibsiz!!
  </div>
  <div class="card-body">
    <h5 class="card-title">Hurmat bilan : Umidjon </h5>
    <p class="card-text">Istalgan viloyatingizni tanlang va u haqidagi malumotga ega boling!!!!</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Ortga qaytish</a>
  </div>
<div class="lyuboy" style="display: flex;flex-direction: row;justify-content:flex-start;align-items: flex-start;">
  	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div><div class="spinner-grow text-primary" role="status">
  	<span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
	  <span class="visually-hidden">Loading...</span>
	</div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>	
<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Viloyatlar  <span class="text-muted">Haqida</span></h2>
            <p class="lead">Oʻzbekiston Respublikasi 12 ta viloyat va Qoraqalpogʻiston Respublikasidan tashkil topgan</p>
            <p class="lead"><table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bolinishi</th>
      <th scope="col">Shahri</th>
      <th scope="col">Aholisi soni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andijon viloyati</td>
      <td>Andijon shahri</td>
      <td>1,899,000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Buxoro viloyati</td>
      <td>Buxoro shahri</td>
      <td>1,384,700</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fargʻona viloyati</td>
      <td>Fargʻona shahri</td>
      <td>2,597,000</td>
    </tr>
    
    <tr>
      <th scope="row">4</th>
      <td>Jizzax viloyati</td>
      <td>Jizzax  shahri</td>
      <td>910,500</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Namangan  viloyati</td>
      <td>Namangan shahri</td>
      <td>1,862,000	</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Navoiy viloyati</td>
      <td>Navoiy  shahri</td>
      <td>767,500	</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Qashqadaryo viloyati</td>
      <td>Qarshi shahri</td>
      <td>2,029,000</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Samarqand viloyati</td>
      <td>Samarqand shahri</td>
      <td>2,322,000	</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Sirdaryo viloyati</td>
      <td>Guliston shahri</td>
      <td>648,100	</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Surxondaryo viloyati</td>
      <td>Termiz shahri</td>
      <td>1,676,000		</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Toshkent viloyati</td>
      <td>Nurafshon shahri</td>
      <td>4,450,000	</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Xorazm viloyati</td>
      <td>Urganch shahri</td>
      <td>1,200,000		</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Qoraqalpogʻiston Respublikasi</td>
      <td>Nukus shahri</td>
      <td>1,200,000		</td>
    </tr>
  </tbody>
</table></p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'image/uzbh.png'%}" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">O'zbekistonda<span class="text-muted">Turizm</span></h2>
            <p class="lead">O‘zbekiston turizm sohasida eng tez rivojlanayotgan davlatlar ro‘yxatiga kirdi
O‘zbekiston eng tez rivojlanayotgan sayyohlik yo‘nalishlari ro‘yxatida to‘rtinchi o‘rinni egalladi. YUNVTO ma’lumotlariga ko‘ra, mamlakatga tashrif buyurgan sayyohlar soni o‘tgan yili 27,3 foizga o‘sdi.
  Кириллчада4 fevral 2020, 17:34   Jamiyat  
O‘zbekiston dunyoning eng tez sur’atlarda rivojlanayotgan sayyohlik yo‘nalishlari yigirmataligida to‘rtinchi o‘rinni egalladi, deya xabar qildi Britaniyaning The Independent nashri BMTning Jahon turizm tashkiloti (YUNVTO) ma’lumotlariga tayangan holda.

YUNVTO ma’lumotlariga ko‘ra, yil davomida mamlakatga kelgan sayyohlar soni 27,3 foizga oshdi. Birinchi o‘rinni Myanma egalladi (40,2%). Ikkinchi va uchinchi o‘rinlarni Puerto-Riko (31,2%) va Eron (27,9%) bo‘lishib oldi.

Ushbu ro‘yxatda Ozarbayjon (11,4%) va Qozog‘iston (10%) ham joy olgan, ular mos ravishda 17 va 20-o‘rinlarni egallagan.

Umuman olganda, o‘tgan yili dunyo bo‘ylab sayohatlar soni 1,5 milliardga yetdi, bu 2018 yilga nisbatan 4 foizga ko‘p demakdir.

Fransiya 90 milliondan ko‘proq sayyoh tashrif buyurgan mamlakat bo‘lib qolmoqda. Undan keyin 83,8 million sayyoh bilan Ispaniya bormoqda</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'image/tash2.jpg'%}" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
{% endblock %}